@page "/Data/Card"
@attribute [Authorize(Roles = "Administartor")]

@using DataAcessLibrary
@using DataAcessLibrary.Models

@inject ICardDetails db


<h1>Card Detailes</h1>
<h4>Current cards</h4>
@if (card is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th> AgencyId</th>
                <th>InvoiceId</th>
                <th>CustomerId</th>
                <th>Customer Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cd in card)
            {
                <tr>
                    <td>@cd.AgencyId</td>
                    <td>@cd.InvoiceId</td>
                    <td>@cd.CustomerID</td>
                    <td>@cd.CustomerName</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<CardModel> card;

    protected override async Task OnInitializedAsync()
    {
        card = await db.GetCards();
    }
}
